@import "../../styles/vars.css";

.card {
  @apply transition-all duration-200;
  padding: 2rem 3rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: none;
  min-height: 15rem;
  max-height: 15rem;
  color: #fff;
  background-color: var(--gray-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 6px 7px #2929297e;
  border-radius: 3rem;
}
.icon {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.count {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.7rem 2rem;
  background-color: var(--dodgerBlue-2);
  font-weight: bold;
}
