@import "../../styles/vars.css";

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.card {
  padding: 2rem 3rem;
  border-radius: 7px;
  box-shadow: 0 0 6px 7px #2929297e;

  min-height: 17rem;
  background-color: var(--lightBlue);
  color: #fff;
}
.icon {
  display: flex;
  justify-content: center;
}
.title {
  font-size: larger;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
