.modal {
  width: clamp(50%, 700px, 90%);
  /* height: min(50%, 300px); */
  min-height: 200px;
  max-height: 85vh;
  overflow-y: auto;
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: var(--gray-4);
  opacity: 100;
  animation: showAnimation ease-in-out 0.2s;

}

@keyframes showAnimation{
  from {
    opacity: 0;
    /* transform: translateY(-60%); */
  }
  to {
    opacity: 100;
    /* transform: translateY(0); */
  }
}
